<section class="card">
    <div class="card_header">
        <a href="/company/{{id}}">{{company.name}}</a>
        <div class="company_name_date">
            <h1>{{job_title}}</h1>
            <p>Total Employees: </p>
        </div>
    </div>
    <div class="card_body">
        {{post_desc}}
    </div>
</section>