{{!-- skeleton from Module 14 lesson 20 /views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LumoGrindz</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="has-background-gold is-family-monospace">
    <header>
        <h1 class="is-size-3">Welcome to LumoGrindz</h1>
    </header>
    <p style="color:black">When you create an account with LumoGrindz you can aluminate the amount
        of money you make for your job position and compare it to other jobs and companies
        to see the value of your position compared to others.
    </p>
    <nav>
        <a href="/" class="button is-black is-rounded">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="button is-black is-rounded">Logout</button>
        {{else}}
        <a href="/login" class="button is-black is-rounded">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2>Current Companies</h2>
        </aside>
        <div class="companies">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>