<section class="container_show_companies">
    <div class="Company_comment_header">
        <h3 class="post-title">{{company.name}}</h3>

    </div>
    <div class="add_position_button">
        <a href="/company/{{company.id}}/add-position"><button class="btn btn-primary" type="submit">Add Comment</button></a>
    </div>

    <section class="flex-row justify-center">
        {{#each company.positions as |position|}}
        {{> position-details }}
        {{/each}}
    </section>
</section>