{{!-- skeleton from Module 14 lesson 20 /views/login.handlebars --}}
<div class="mx-3">
    <div class="box">
        <h2 class="title">Login</h2>
        <form class="form login-form">
            <div class="field">
                <label for="email-login" class="label">Email:</label>
                <input class="form-input input" type="text" id="email-login" />
            </div>
            <div class="field">
                <label for="password-login" class="label">Password:</label>
                <div class="">
                    <input class="form-input input" type="password" id="password-login" />
                </div>
            </div>
            <div class="">
                <button class="button is-warning my-2" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="box my-4">
        <h2 class="title">Signup</h2>
        <form class="form signup-form">
            <div class="">
                <label for="username-signup">Username:</label>
                <input class="form-input input" type="text" id="username-signup" />
            </div>
            <div class="">
                <label for="email-signup">Email:</label>
                <input class="form-input input" type="text" id="email-signup" />
            </div>
            <div class="">
                <label for="password-signup">Password:</label>
                <input class="form-input input" type="password" id="password-signup" />
            </div>
            <div class="">
                <button class="button is-warning my-2" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>